$fieldset-header-color: black;

.x-fieldset{
  background: white !important;
}

.x-form-text-default{
  color:black;
}

.x-form-item-label-default{
  color: black !important;
}

.x-toolbar-footer{
  background-color: white !important;
}